@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Martel:wght@200;300;400;600;700;800;900&display=swap');

h1,
h2,
h3,
h4,
h5 {
   font-family: 'Martel', serif;
   line-height: 125%;
   font-weight: 700;
   color: #1a0d08;
}

h1 {
   font-size: 2rem;
}

h2 {
   font-size: 1.75rem;
}

h3 {
   font-size: 1.25rem;
}

h4 {
   font-size: 1.125rem;
}

h5 {
   font-size: 0.875rem;
}

p,
a,
li {
   font-family: system-ui, 'Inter', sans-serif;
   line-height: 150%;
   color: #403b3a;
}

.p1-r {
   font-size: 1rem;
   font-weight: 400;
}

.p2-r {
   font-size: 0.875rem;
   font-weight: 400;
}

.p3-r {
   font-size: 0.75rem;
   font-weight: 400;
}

.p1-m {
   font-size: 1rem;
   font-weight: 500;
}

.p2-m {
   font-size: 0.875rem;
   font-weight: 500;
}

.p3-m {
   font-size: 0.75rem;
   font-weight: 500;
}

.l1-r,
.l2-r,
.l3-r,
.l1-m,
.l2-m,
.l3-m {
   font-family: system-ui, 'Inter', sans-serif;
   line-height: 125%;
   color: #1a0d08;
}

.l1-r {
   font-size: 1rem;
   font-weight: 400;
}

.l2-r {
   font-size: 0.875rem;
   font-weight: 400;
}

.l3-r {
   font-size: 0.75rem;
   font-weight: 400;
}

.l1-m {
   font-size: 1rem;
   font-weight: 600;
}

.l2-m {
   font-size: 0.875rem;
   font-weight: 600;
}

.l3-m {
   font-size: 0.75rem;
   font-weight: 600;
}

.primary-50 {
   color: #fff7ed; /* Tailwind orange-50 */
}

.primary-100 {
   color: #ffedd5; /* Tailwind orange-100 */
}

.primary-400 {
   color: #fb923c; /* Tailwind orange-400 */
}

.primary-600 {
   color: #ea580c; /* Tailwind orange-600 */
}

.primary-700 {
   color: #c2410c; /* Tailwind orange-700 */
}

.primary-900 {
   color: #7c2d12; /* Tailwind orange-900 */
}

.primary-900-75 {
   color: rgba(124, 45, 18, 0.75); /* Tailwind orange-900 with opacity 75% */
}

.primary-900-5 {
   color: rgba(124, 45, 18, 0.05); /* Tailwind orange-900 with opacity 5% */
}

re-100 {
   color: #f7dede;
}

re-500 {
   color: #8b2020;
}

ge-100 {
   color: #d7f5e2;
}

ge-500 {
   color: #207f42;
}

p > img {
   max-width: 100%;
   height: auto;
   display: block;
}

.bg-women-image {
   background-image: url('/women/all-women.png');
}

.bg-purple-gradient {
   background: linear-gradient(to right, #471d35, #8c497f);
}

@layer base {
   :root {
      --background: 0 0% 100%;
      --foreground: 20 85% 7%;
   }

   .dark {
      --background: 20 85% 7%;
      --foreground: 0 0% 100%;
   }
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5 {
   color: #f6f3f2;
}

.dark p,
.dark a,
.dark li {
   color: #b8b2b1;
}

.dark .l1-r,
.dark .l2-r,
.dark .l3-r,
.dark .l1-m,
.dark .l2-m,
.dark .l3-m {
   color: #f6f3f2;
}
