@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

/* Largest title size - Slate */
.title-h1-slate {
  font-size: 40px;
  font-weight: 700; /* Bold */
  font-family: "Roboto", sans-serif;
  color: #020617; /* Slate */
}

/* Large title size - Slate */
.title-h2-slate {
  font-size: 36px;
  font-weight: 600; /* Semi-bold */
  font-family: "Roboto", sans-serif;
  color: #020617; /* Slate */
}

/* Medium title size - Slate */
.title-h3-slate {
  font-size: 32px;
  font-weight: 600; /* Semi-bold */
  font-family: "Roboto", sans-serif;
  color: #020617; /* Slate */
}

/* Regular title size - Slate */
.title-h4-slate {
  font-size: 28px;
  font-weight: 500; /* Medium */
  font-family: "Roboto", sans-serif;
  color: #020617; /* Slate */
}

/* Small title size - Slate */
.title-h5-slate {
  font-size: 24px;
  font-weight: 500; /* Medium */
  font-family: "Roboto", sans-serif;
  color: #020617; /* Slate */
}

/* Smallest title size - Slate */
.title-h6-slate {
  font-size: 20px;
  font-weight: 400; /* Regular */
  font-family: "Roboto", sans-serif;
  color: #020617; /* Slate */
}

/* Largest title size - Orange */
.title-h1-orange {
  font-size: 40px;
  font-weight: 700; /* Bold */
  font-family: "Roboto", sans-serif;
  color: #f97316; /* Orange */
}

/* Large title size - Orange */
.title-h2-orange {
  font-size: 36px;
  font-weight: 600; /* Semi-bold */
  font-family: "Roboto", sans-serif;
  color: #f97316; /* Orange */
}

/* Medium title size - Orange */
.title-h3-orange {
  font-size: 32px;
  font-weight: 600; /* Semi-bold */
  font-family: "Roboto", sans-serif;
  color: #f97316; /* Orange */
}

/* Regular title size - Orange */
.title-h4-orange {
  font-size: 28px;
  font-weight: 500; /* Medium */
  font-family: "Roboto", sans-serif;
  color: #f97316; /* Orange */
}

/* Small title size - Orange */
.title-h5-orange {
  font-size: 24px;
  font-weight: 500; /* Medium */
  font-family: "Roboto", sans-serif;
  color: #f97316; /* Orange */
}

/* Smallest title size - Orange */
.title-h6-orange {
  font-size: 20px;
  font-weight: 400; /* Regular */
  font-family: "Roboto", sans-serif;
  color: #f97316; /* Orange */
}

/* Largest body text size */
.body-text-h1 {
  font-size: 20px;
  font-weight: 600; /* Semi-bold */
  font-family: "Open Sans", sans-serif;
  color: #64748b;
  line-height: 1.618; /* Golden ratio */
}

/* Large body text size */
.body-text-h2 {
  font-size: 18px;
  font-weight: 600; /* Semi-bold */
  font-family: "Open Sans", sans-serif;
  color: #64748b;
  line-height: 1.618; /* Golden ratio */
}

/* Medium body text size */
.body-text-h3 {
  font-size: 16px;
  font-weight: 400; /* Regular */
  font-family: "Open Sans", sans-serif;
  color: #64748b;
  line-height: 1.618; /* Golden ratio */
}

/* Regular body text size */
.body-text-h4 {
  font-size: 14px;
  font-weight: 400; /* Regular */
  font-family: "Open Sans", sans-serif;
  color: #64748b;
  line-height: 1.618; /* Golden ratio */
}

/* Small body text size */
.body-text-h5 {
  font-size: 12px;
  font-weight: 400; /* Regular */
  font-family: "Open Sans", sans-serif;
  color: #64748b;
  line-height: 1.618; /* Golden ratio */
}

/* Smallest body text size */
.body-text-h6 {
  font-size: 10px;
  font-weight: 400; /* Regular */
  font-family: "Open Sans", sans-serif;
  color: #64748b;
  line-height: 1.618; /* Golden ratio */
}
